<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPixService" />
        <binding name="BasicHttpBinding_IEmkService" />
        <binding name="BasicHttpBinding_IMiacStatisticService" />
        <binding name="BasicHttpBinding_IMqService" />
        <binding name="BasicHttpBinding_IServiceSupport" />
        <binding name="BasicHttpBinding_IPixService1" />
        <binding name="BasicHttpBinding_IEmkService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.8.93:2222/iemk/MiacStatistic.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiacStatisticService"
        contract="MiacStatistics.IMiacStatisticService" name="BasicHttpBinding_IMiacStatisticService" />
      <endpoint address="http://192.168.8.93:2222/iemk/MQProxy.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSupport"
        contract="mqProxy.IServiceSupport" name="BasicHttpBinding_IServiceSupport" />
      <endpoint address="http://192.168.8.93:2222/iemk/MQProxy.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMqService"
        contract="mqProxy.IMqService" name="BasicHttpBinding_IMqService" />
      <endpoint address="http://demo-iemk20.zdrav.netrika.ru/PixService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixService1"
        contract="PixServiceDemo.IPixService" name="BasicHttpBinding_IPixService1" />
      <endpoint address="http://demo-iemk20.zdrav.netrika.ru/EMKService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmkService1"
        contract="EMKServiceDemo.IEmkService" name="BasicHttpBinding_IEmkService1" />
      <endpoint address="http://demo-iemk20.zdrav.netrika.ru:2225/PixService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPixService"
        contract="PixServise.IPixService" name="BasicHttpBinding_IPixService" />
      <endpoint address="http://demo-iemk20.zdrav.netrika.ru:2225/EMKService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmkService"
        contract="EMKServise.IEmkService" name="BasicHttpBinding_IEmkService" />
    </client>
  </system.serviceModel>
</configuration>